.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
    height: 100%;
    width: 100%;
  }
.box{
    width: 300px;
    height: 300px;
    background: #fff;
    border-bottom: 20px;
}